<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ вакансий из HeadHunter

In [ ]:
import pandas as pd
import psycopg2

In [ ]:
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

# Юнит 3. Предварительный анализ данных

1. Напишите запрос, который посчитает количество вакансий в нашей базе (вакансии находятся в таблице vacancies).

In [ ]:
# текст запроса
query_3_1 = f'''select count(*)
           from vacancies
'''

In [ ]:
# результат запроса
count_v = pd.read_sql_query(query_3_1, connection)
count_v

   count
0  49197

2. Напишите запрос, который посчитает количество работодателей (таблица employers).

In [ ]:
# текст запроса
query_3_2 = f'''select count(*)
           from employers
'''

In [ ]:
# результат запроса
count_e = pd.read_sql_query(query_3_2, connection)
count_e

   count
0  23501

3. Посчитате с помощью запроса количество регионов (таблица areas).

In [ ]:
# текст запроса
query_3_3 = f'''select count(*)
           from areas
'''

In [ ]:
# результат запроса
count_a = pd.read_sql_query(query_3_3, connection)
count_a

   count
0   1362

4. Посчитате с помощью запроса количество сфер деятельности в базе (таблица industries).

In [ ]:
# текст запроса
query_3_4 = f'''select count(*)
           from industries
'''

In [ ]:
# результат запроса
count_i = pd.read_sql_query(query_3_4, connection)
count_i

   count
0    294

***

In [ ]:
# выводы по предварительному анализу данных
'''Отслеживаются вакансии в 1362 регионах по 294 сферам деятельности. В базе представлена 49197 вакансии от 23501 работодателей.'''

'Отслеживаются вакансии в 1362 регионах по 294 сферам деятельности. В базе представлена 49197 вакансии от 23501 работодателей.'

# Юнит 4. Детальный анализ вакансий

1. Напишите запрос, который позволит узнать, сколько (cnt) вакансий в каждом регионе (area).
Отсортируйте по количеству вакансий в порядке убывания.

In [ ]:
# текст запроса
query_4_1 = f'''
select 
a.name area,
count(v.id) cnt
from areas a
join vacancies v on a.id = v.area_id
group by area
order by cnt desc
limit 5
'''

In [ ]:
# результат запроса
count_i = pd.read_sql_query(query_4_1, connection)
count_i

              area   cnt
0           Москва  5333
1  Санкт-Петербург  2851
2            Минск  2112
3      Новосибирск  2006
4           Алматы  1892

2. Напишите запрос, чтобы определить у какого количества вакансий заполнено хотя бы одно из двух полей с зарплатой.

In [ ]:
# текст запроса
query_4_2 = f'''
select 
count(*) cnt
from vacancies
where salary_from is not null or salary_to is not null
'''

In [ ]:
# результат запроса
result = pd.read_sql_query(query_4_2, connection)
result

     cnt
0  24073

3. Найдите средние значения для нижней и верхней границы зарплатной вилки. Округлите значения до целого.

In [ ]:
# текст запроса
query_4_3 = f'''
select 
avg(salary_from) avg_from,
avg(salary_to) avg_to
from  vacancies
'''

In [ ]:
# результат запроса
result = pd.read_sql_query(query_4_3, connection)
result

       avg_from         avg_to
0  71064.657901  110536.741923

4. Напишите запрос, который выведет количество вакансий для каждого сочетания типа рабочего графика (schedule) и типа трудоустройства (employment), используемого в вакансиях. Результат отсортируйте по убыванию количества.

In [ ]:
# текст запроса
query_4_4 = f'''
select 
schedule,
employment,
count(*) cnt
from vacancies
group by schedule, employment
order by cnt desc
--limit 5
'''

In [ ]:
# результат запроса
result = pd.read_sql_query(query_4_4, connection)
result

            schedule           employment    cnt
0        Полный день     Полная занятость  35367
1   Удаленная работа     Полная занятость   7802
2      Гибкий график     Полная занятость   1593
3   Удаленная работа  Частичная занятость   1312
4     Сменный график     Полная занятость    940
5        Полный день           Стажировка    569
6     Вахтовый метод     Полная занятость    367
7        Полный день  Частичная занятость    347
8      Гибкий график  Частичная занятость    312
9        Полный день     Проектная работа    141
10  Удаленная работа     Проектная работа    133
11     Гибкий график           Стажировка    116
12    Сменный график  Частичная занятость    101
13  Удаленная работа           Стажировка     64
14     Гибкий график     Проектная работа     18
15    Сменный график           Стажировка     12
16    Вахтовый метод     Проектная работа      2
17    Сменный график     Проектная работа      1

5. Напишите запрос, выводящий значения поля Требуемый опыт работы (experience) в порядке возрастания количества вакансий, в которых указан данный вариант опыта.

In [ ]:
# текст запроса
query_4_5 = f'''
select 
experience "Требуемый опыт работы",
count(*) cnt
from vacancies
group by experience
order by cnt
'''

In [ ]:
# результат запроса
result = pd.read_sql_query(query_4_5, connection)
result

  Требуемый опыт работы    cnt
0           Более 6 лет   1337
1             Нет опыта   7197
2         От 3 до 6 лет  14511
3    От 1 года до 3 лет  26152

***

In [ ]:
# выводы по детальному анализу вакансий
'''По количеству вакансий по регионам лидирует с отрывом Москва - 5333 вакансий. Из 49197 вакансий только в 24073 указывется зарплата. В среднем верхняя граница составляет 110536 руб.
А нижняя средняя граница составляет 71065 руб. В основном работодатели ищут на полный рабочий день с полной занятостью (35367). На втором месте удаленная работа с полной занятостью (7802).
 Опыт работы также важен: лидирует от 1 года до 3 лет - 26152 вакансий, далее от 3 до 6 лет - 14511 вакансий.
'''

# Юнит 5. Анализ работодателей

1. Напишите запрос, который позволит узнать, какие работодатели находятся на первом и пятом месте по количеству вакансий.

In [ ]:
# текст запроса
query_5_1 = f'''
select
e.name,
count(*) cnt
from vacancies v
join employers e on e.id = v.employer_id
group by e.name
order by cnt desc
limit 5
'''

In [ ]:
# результат запроса
result = pd.read_sql_query(query_5_1, connection)
result

            name   cnt
0         Яндекс  1933
1     Ростелеком   491
2       Тинькофф   444
3           СБЕР   428
4  Газпром нефть   331

2. Напишите запрос, который для каждого региона выведет количество работодателей и вакансий в нём.
Среди регионов, в которых нет вакансий, найдите тот, в котором наибольшее количество работодателей.

In [ ]:
# текст запроса
query_5_2 = f'''
select
a_v.name,
a_v.cnt_vacancies,
a_e.cnt_employers

from (select
a.name,
count(distinct v.id) cnt_vacancies
from areas a
left join vacancies v on v.area_id = a.id
group by a.name
) a_v

join (
  select
  a.name,
  count(distinct e.id) cnt_employers
  from areas a
  left join employers e on e.area = a.id
  group by a.name
  ) a_e on a_v.name = a_e.name

order by cnt_vacancies, cnt_employers desc
limit 5
'''

In [ ]:
# результат запроса
result = pd.read_sql_query(query_5_2, connection)
result

                 name  cnt_vacancies  cnt_employers
0              Россия              0            410
1           Казахстан              0            207
2  Московская область              0             75
3  Краснодарский край              0             19
4            Беларусь              0             18

3. Для каждого работодателя посчитайте количество регионов, в которых он публикует свои вакансии. Отсортируйте результат по убыванию количества.

In [ ]:
# текст запроса
query_5_3 = f'''
select
e.name,
v_cnt.cnt_area
from(
  select
  v.employer_id,
  count(distinct v.area_id) cnt_area
  from vacancies v
  group by v.employer_id
  ) v_cnt
join employers e on e.id = v_cnt.employer_id
order by cnt_area desc

'''

In [ ]:
# результат запроса
result = pd.read_sql_query(query_5_3, connection)
result

                                                    name  cnt_area
0                                                 Яндекс       181
1                                             Ростелеком       152
2                                             Спецремонт       116
3                                 Поляков Денис Иванович        88
4                                              ООО ЕФИН         71
...                                                  ...       ...
14901                                              Элита         1
14902                                             ОНЭЛИЯ         1
14903                              Sky Fort Technologies         1
14904  АНО Проектный офис по Развитию Туризма и Госте...         1
14905                                         SILA Union         1

[14906 rows x 2 columns]

4. Напишите запрос для подсчёта количества работодателей, у которых не указана сфера деятельности.

In [ ]:
# текст запроса
query_5_4 = f'''
select
count(*) cnt
from employers e
left join employers_industries e_i on e.id = e_i.employer_id
where e_i.industry_id is null
'''

In [ ]:
# результат запроса
result = pd.read_sql_query(query_5_4, connection)
result

    cnt
0  8419

5. Напишите запрос, чтобы узнать название компании, находящейся на третьем месте в алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности.

In [ ]:
# текст запроса
query_5_5 = f'''
select
e.name e_name,
i_cnt.cnt_ind
from(
  select
  e_i.employer_id,
  count(distinct e_i.industry_id) cnt_ind
  from employers_industries e_i
  group by e_i.employer_id
  ) i_cnt
join employers e on e.id = i_cnt.employer_id
where i_cnt.cnt_ind = 4
order by e_name
offset 2
limit 1
'''

In [ ]:
# результат запроса
result = pd.read_sql_query(query_5_5, connection)
result

  e_name  cnt_ind
0   2ГИС        4

6. С помощью запроса выясните, у какого количества работодателей в качестве сферы деятельности указана Разработка программного обеспечения.

In [ ]:
# текст запроса
query_5_6 = f'''
select
count(*) cnt
from employers_industries e_i
left join industries i on i.id = e_i.industry_id
where i.name = 'Разработка программного обеспечения'
'''

In [ ]:
# результат запроса
result = pd.read_sql_query(query_5_6, connection)
result

    cnt
0  3553

7. Для компании «Яндекс» выведите список регионов-миллионников, в которых представлены вакансии компании, вместе с количеством вакансий в этих регионах. Также добавьте строку Total с общим количеством вакансий компании. Результат отсортируйте по возрастанию количества.

Список городов-милионников надо взять [отсюда](https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8). 

Если возникнут трудности с этим задание посмотрите материалы модуля  PYTHON-17. Как получать данные из веб-источников и API.

In [ ]:
# код для получения списка городов-миллионников
#[Москва, Санкт-Петербург,	Новосибирск,	Екатеринбург,	Казань,	Нижний Новгород,	Челябинск,	Красноярск,	Самара,	Уфа,	Ростов-на-Дону,	Омск,	Краснодар,	Воронеж,	Пермь, Волгоград]
import requests
from bs4 import BeautifulSoup
url = 'https://ru.wikipedia.org/w/index.php?title=%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8&action=edit&section=2' 
response = requests.get(url) 
page = BeautifulSoup(response.text, 'html.parser') 
txt =  page.find('textarea').text.split( '[[')
btxt = []
for str_lst in txt:
  btxt.append(str_lst.split(']]')[0])
#str_lst = ','.join(btxt[3:19])
tup = tuple(btxt[3:19])
tup

('Москва',
 'Санкт-Петербург',
 'Новосибирск',
 'Екатеринбург',
 'Казань',
 'Нижний Новгород',
 'Челябинск',
 'Красноярск',
 'Самара',
 'Уфа',
 'Ростов-на-Дону',
 'Омск',
 'Краснодар',
 'Воронеж',
 'Пермь',
 'Волгоград')

In [ ]:
# текст запроса
query_5_7 = f'''
select
a.name,
count(v.id) cnt
from vacancies v
left join areas a on v.area_id = a.id
left join employers e on e.id = v.employer_id
WHERE (a.name in {tup}) and e.name = 'Яндекс'
group by a.name

union all

select
'Total',
count(v.id)
from vacancies v
left join areas a on v.area_id = a.id
left join employers e on e.id = v.employer_id
WHERE (a.name in {tup}) and e.name = 'Яндекс'
order by cnt

'''

In [ ]:
# результат запроса
result = pd.read_sql_query(query_5_7, connection)
result

               name  cnt
0              Омск   21
1         Челябинск   22
2        Красноярск   23
3         Волгоград   24
4             Пермь   25
5            Казань   25
6    Ростов-на-Дону   25
7               Уфа   26
8            Самара   26
9         Краснодар   30
10          Воронеж   32
11      Новосибирск   35
12  Нижний Новгород   36
13     Екатеринбург   39
14  Санкт-Петербург   42
15           Москва   54
16            Total  485

***

In [ ]:
# выводы по анализу работодателей
'''На первых местах по количеству вакансий находятся IT-гиганты: Яндекс - 1933 вакансий и Ростелеком -	491. Следом идут, активно развивающие цифровые технологии, банки:	Тинькофф - 444 и СБЕР - 428.
Есть работодатели, которые ищут работников не по конкретному городу, а по всему региону и даже стране. И лидирует по этому вопросу Россия - 410, за ним Казахстан - 207. 
По количеству регионов, в которых публикуют свои вакансии, лидируют работодатели: Яндекс - 181 и Ростелеком - 152.
Многие работодатели не указывают свою сферу деятельности - 8419 работодателей.
Есть работодатели, которые ищут работников в разных сферах деятельности.
Разработка программного обеспечения указана в вакансиях как сфера деятельности у 3553 работодателей.
Яндекс имеет не меньше 21 вакансий в городах миллионниках России. Общее количество вакансий Яндекса в городах миллионниках состовляет - 485.'''

# Юнит 6. Предметный анализ

1. Сколько вакансий имеет отношение к данным?

Считаем, что вакансия имеет отношение к данным, если в её названии содержатся слова 'data' или 'данн'.

*Подсказка: Обратите внимание, что названия вакансий могут быть написаны в любом регистре.*

In [ ]:
# текст запроса
query_6_1 = f'''
select
count(*) cnt
from vacancies v
where name like '%data%' or name like '%Data%' or name like '%DATA%' or name like '%данн%' or name like '%Данн%' or name like '%ДАНН%'
'''

In [ ]:
# результат запроса
result = pd.read_sql_query(query_6_1, connection)
result

    cnt
0  1771

2. Сколько есть подходящих вакансий для начинающего дата-сайентиста? 
Будем считать вакансиями для дата-сайентистов такие, в названии которых есть хотя бы одно из следующих сочетаний:
* 'data scientist'
* 'data science'
* 'исследователь данных'
* 'ML' (здесь не нужно брать вакансии по HTML)
* 'machine learning'
* 'машинн%обучен%'

** В следующих заданиях мы продолжим работать с вакансиями по этому условию.*

Считаем вакансиями для специалистов уровня Junior следующие:
* в названии есть слово 'junior' *или*
* требуемый опыт — Нет опыта *или*
* тип трудоустройства — Стажировка.

In [ ]:
# текст запроса
query_6_2 = f'''
select
count(*) cnt
from vacancies v
where (name like '%data scientist%' or name like '%Data Scientist%' or name like '%DATA SCIENTIST%'
 or name like '%data science%' or name like '%Data Science%' or name like '%DATA SCIENCE%'
 or name like '%исследователь данных%' or name like '%Исследователь Данных%' or name like '%ИССЛЕДОВАТЕЛЬ ДАННЫХ%'
 or name like '%machine learning%' or name like '%Machine Learning%' or name like '%MACHINE LEARNING%'
 or name like '%машинн%обучен%' or name like '%Машинн%Обучен%' or name like '%МАШИНН%ОБУЧЕН%'
 or ((name like '%ML%' or name like '%ml%') and name not like '%HTML%'))
 and (name like '%junior%' or name like '%Junior%' or name like '%JUNIOR%'
 or experience like '%Нет опыта%' or employment like '%Стажировка%')
'''

In [ ]:
# результат запроса
result = pd.read_sql_query(query_6_2, connection)
result

   cnt
0   48

3. Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или postgres?

** Критерии для отнесения вакансии к DS указаны в предыдущем задании.*

In [ ]:
# текст запроса
query_6_3 = f'''
select
count(*) cnt
from vacancies v
where (name like '%data scientist%' or name like '%Data Scientist%' or name like '%DATA SCIENTIST%'
 or name like '%data science%' or name like '%Data Science%' or name like '%DATA SCIENCE%'
 or name like '%исследователь данных%' or name like '%Исследователь Данных%' or name like '%ИССЛЕДОВАТЕЛЬ ДАННЫХ%'
 or name like '%machine learning%' or name like '%Machine Learning%' or name like '%MACHINE LEARNING%'
 or name like '%машинн%обучен%' or name like '%Машинн%Обучен%' or name like '%МАШИНН%ОБУЧЕН%'
 or ((name like '%ML%' or name like '%ml%') and name not like '%HTML%'))
 and (key_skills like '%SQL%' or key_skills like '%sql%' or key_skills like '%POSTGRES%' or key_skills like '%postgres%')
'''

In [ ]:
# результат запроса
result = pd.read_sql_query(query_6_3, connection)
result

   cnt
0  189

4. Проверьте, насколько популярен Python в требованиях работодателей к DS.Для этого вычислите количество вакансий, в которых в качестве ключевого навыка указан Python.

** Это можно сделать помощью запроса, аналогичного предыдущему.*

In [ ]:
# текст запроса
query_6_4 = f'''
select
count(*) cnt
from vacancies v
where (name like '%data scientist%' or name like '%Data Scientist%' or name like '%DATA SCIENTIST%'
 or name like '%data science%' or name like '%Data Science%' or name like '%DATA SCIENCE%'
 or name like '%исследователь данных%' or name like '%Исследователь Данных%' or name like '%ИССЛЕДОВАТЕЛЬ ДАННЫХ%'
 or name like '%machine learning%' or name like '%Machine Learning%' or name like '%MACHINE LEARNING%'
 or name like '%машинн%обучен%' or name like '%Машинн%Обучен%' or name like '%МАШИНН%ОБУЧЕН%'
 or ((name like '%ML%' or name like '%ml%') and name not like '%HTML%'))
 and (key_skills like '%Python%' or key_skills like '%PYTHON%' or key_skills like '%python%')
'''

In [ ]:
# результат запроса
result = pd.read_sql_query(query_6_4, connection)
result

   cnt
0  314

5. Сколько ключевых навыков в среднем указывают в вакансиях для DS?
Ответ округлите до двух знаков после точки-разделителя.

In [ ]:
# текст запроса
query_6_5 = f'''
select
avg(char_length(key_skills) - char_length(replace(key_skills, CHR(9), '')))
from vacancies v
where (name like '%data scientist%' or name like '%Data Scientist%' or name like '%DATA SCIENTIST%'
 or name like '%data science%' or name like '%Data Science%' or name like '%DATA SCIENCE%'
 or name like '%исследователь данных%' or name like '%Исследователь Данных%' or name like '%ИССЛЕДОВАТЕЛЬ ДАННЫХ%'
 or name like '%machine learning%' or name like '%Machine Learning%' or name like '%MACHINE LEARNING%'
 or name like '%машинн%обучен%' or name like '%Машинн%Обучен%' or name like '%МАШИНН%ОБУЧЕН%'
 or ((name like '%ML%' or name like '%ml%') and name not like '%HTML%'))
 and key_skills is not null
'''

In [ ]:
# результат запроса
result = pd.read_sql_query(query_6_5, connection)
result

       avg
0  5.47549

6. Напишите запрос, позволяющий вычислить, какую зарплату для DS в **среднем** указывают для каждого типа требуемого опыта (уникальное значение из поля *experience*). 

При решении задачи примите во внимание следующее:
1. Рассматриваем только вакансии, у которых заполнено хотя бы одно из двух полей с зарплатой.
2. Если заполнены оба поля с зарплатой, то считаем зарплату по каждой вакансии как сумму двух полей, делённую на 2. Если заполнено только одно из полей, то его и считаем зарплатой по вакансии.
3. Если в расчётах участвует null, в результате он тоже даст null (посмотрите, что возвращает запрос select 1 + null). Чтобы избежать этой ситуацию, мы воспользуемся функцией [coalesce](https://postgrespro.ru/docs/postgresql/9.5/functions-conditional#functions-coalesce-nvl-ifnull), которая заменит null на значение, которое мы передадим. Например, посмотрите, что возвращает запрос `select 1 + coalesce(null, 0)`

Выясните, на какую зарплату в среднем может рассчитывать дата-сайентист с опытом работы от 3 до 6 лет. Результат округлите до целого числа.

In [ ]:
# текст запроса
query_6_6 = f'''
select
experience "Опыт работы",
avg((coalesce(salary_from, salary_to) + coalesce(salary_to, salary_from)) / 2)
from vacancies v
where (name like '%data scientist%' or name like '%Data Scientist%' or name like '%DATA SCIENTIST%'
 or name like '%data science%' or name like '%Data Science%' or name like '%DATA SCIENCE%'
 or name like '%исследователь данных%' or name like '%Исследователь Данных%' or name like '%ИССЛЕДОВАТЕЛЬ ДАННЫХ%'
 or name like '%machine learning%' or name like '%Machine Learning%' or name like '%MACHINE LEARNING%'
 or name like '%машинн%обучен%' or name like '%Машинн%Обучен%' or name like '%МАШИНН%ОБУЧЕН%'
 or ((name like '%ML%' or name like '%ml%') and name not like '%HTML%'))
 and (salary_from is not null or salary_to is not null)
group by experience
'''

In [ ]:
# результат запроса
result = pd.read_sql_query(query_6_6, connection)
result

          Опыт работы            avg
0         Более 6 лет  143910.666667
1           Нет опыта   66773.375000
2  От 1 года до 3 лет  124916.200000
3       От 3 до 6 лет  264190.500000

***

In [ ]:
# выводы по предметному анализу
'''В нашей базе 1771 вакансий имеющих отношение к данным. Из них 48 вакансий на должность начинающего дата-сайентиста. Также в базе есть вакансии для DS,
 в которых в качестве ключевого навыка указан SQL или postgres. В 314 вакансиях в требованиях работодателей к DS наличие в качестве ключевого навыка указан Python.
 В среднем указывается около 5 ключевых навыков. В среднем зарплата DS начинается с 66773 рублей, для работников без опыта работы.'''

# Общий вывод по проекту

In [ ]:
# подведем итог исследования, обобщите выводы
'''
Главные признаки по которым можно создать модель машинного обучения, которая будет рекомендовать вакансии клиентам агентства, претендующим на позицию Data Scientist, являются: "Название вакансии" и 
"Ключевые навыки". Дополнительно можно использовать признаки "Сфера деятельности работодателя" и "Регион вакансии". А признаки: "Тип рабочего графика", "Требования к опыту", "Тип трудоустройства",
 "Нижняя граница зарплатной вилки", "Верхняя граница зарплатной вилки" носят дополнительный характер вакансии, условия работы, который расплывчат как для работодателя, так и для клиента. 
 Они могут передумать в любой момент, например "Полный день" переделать в "Удаленную работу" и т.д. Или признаки по запрлате заполнены у меньше 50% вакансий и создадут больше шума модели обучения.
 По этим признакам можно сделать дополнительную модель или ветку модели для уточнения рекомендаций.
 '''